GOOSE_DBSTRING=postgres://postgres:postgres@127.0.0.1:5432/laundry?sslmode=disable
GOOSE_DRIVER=postgres
GOOSE_MIGRATION_DIR=./internal/repository/migrations

SMS_ENABLED=false
PORT=8080
HOST=localhost
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_NUMBER=

